---
---

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>prbegd's blog</title>

</head>

<body>

    <main>
        <div style="position: relative; color: white; z-index: 1; background-color: #444444; width: max-content; margin: 1em auto; padding: 1em;">
            <h1 style="width: max-content;">
                prbegd's blog
            </h1>
            Soon there will be something here.
        </div>
    </main>

    <script>window.navbarLinkIndex = 1;</script>
    {% include_file
    "https://raw.githubusercontent.com/prbegd/prbegd.github.io/refs/heads/main/_includes/navbar.html" %}
    {% include particles-background.html %}
</body>

</html>